@import 'tailwindcss';

:root {
    --background: #1a1919;
    --foreground: #171717;
}

:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}
